<h3>Registration</h3>
<div>
    <label>Username:</label>
    <InputText @bind-Value="@username"></InputText>
    <label>Email:</label>
    <InputText @bind-Value="@email"></InputText>
    <label>Password:</label>
    <InputText @bind-Value="@password"></InputText>
    <label>Confirm Password:</label>
    <InputText @bind-Value="@Cpassword"></InputText>
    <label>Date of Birth:</label>
    <div style="display: inline-block;">
        <DateInput TValue="DateOnly" @bind-Value="@date1" Placeholder="Enter Date" Style="max-width: 150px" />
    </div>

    <Button Style="border: solid 1px; margin: 10px" @onclick="() => Register()">Register</Button>
    @if (isRegistered)
    {
        <div class="alert alert-success mt-3">
            You are registered.
        </div>
    }
</div>
@code {
    private string username;
    private string email;
    private string password;
    private string Cpassword;
    private string DateOfBirth;
    private DateOnly date1 = DateOnly.FromDateTime(DateTime.Now);
    private bool isRegistered;

    private void Register()
    {
        isRegistered = false;
        if (username != null)
        {
            if (email != null)
            {
                if (password == Cpassword)
                {
                    isRegistered = true;
                }
            }
        }
    }
    }
